// Primary

$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$bright-violet: hsl(245, 83%, 68%);

//  Neutral

$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);

// Font 500, 700, 900

$font-main: "Red Hat Display", sans-serif;

// Font size (paragraph): 16px
